name: CI

on:
  workflow_dispatch:
  push:
    branches:
      - main
      - '[0-9]+.x'
    paths-ignore:
      - 'docs/**'
      - '*.md'
  pull_request:
    paths-ignore:
      - 'docs/**'
      - '*.md'

permissions:
  id-token: write  # Required for OIDC
  contents: write  # Required for semantic-release to push tags and commits
  issues: write    # Required for semantic-release to create releases
  pull-requests: write
jobs:
  test:
    name: Node ${{ matrix.node_version }} - On ${{ matrix.os }}
    runs-on: ${{ matrix.os }}

    strategy:
      matrix:
        os: [ ubuntu-latest, windows-latest, macos-latest ]

    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - name: Use Node
        id: setup-node
        uses: actions/setup-node@v6.0.0
        with:
          node-version: lts/*
          cache: 'npm'

      - name: Deps
        run: |
          npm ci

      - name: Lint
        run: |
          npm run lint
          npm run format:check

      - name: Test
        run: |
          npm run test:ci

      - name: Coverage
        if: matrix.os == 'ubuntu-latest'
        uses: codecov/codecov-action@v5
        timeout-minutes: 5
        env:
          CODECOV_TOKEN: ${{ secrets.CODECOV_TOKEN }}
        with:
          token: ${{ secrets.CODECOV_TOKEN }}
          verbose: true
          files: ./coverage/coverage-final.json
          fail_ci_if_error: false

  release:
    runs-on: ubuntu-latest
    if: github.ref == 'refs/heads/main' || startsWith(github.ref, 'refs/heads/') && endsWith(github.ref, '.x')
    needs:
      - test
    steps:
      - name: Checkout
        uses: actions/checkout@v6
        with:
          fetch-depth: 0
          persist-credentials: false

      - name: Use Node
        id: setup-node
        uses: actions/setup-node@v6.0.0
        with:
          node-version: lts/*
          cache: 'npm'

      - name: Deps
        run: |
          npm ci

      - name: Release
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          GIT_AUTHOR_NAME: semantic-release-bot
          GIT_AUTHOR_EMAIL: semantic-release-bot@github.com
          GIT_COMMITTER_NAME: semantic-release-bot
          GIT_COMMITTER_EMAIL: semantic-release-bot@github.com
        run: |
          npx semantic-release


  automerge:
    needs:
      - test
    runs-on: ubuntu-latest
    permissions:
      pull-requests: write
      contents: write
    steps:
      - uses: fastify/github-action-merge-dependabot@v3.11.2
        with:
          github-token: ${{ secrets.GITHUB_TOKEN }}
